<footer id="footer">

    <div class="col col1">
        <h2>Photokinisi</h2>
        <p>Made with <span style="color: #BA6573;">❤</span> <a href="https://www.instagram.com/tsioba_/" target="_blank">by Tsioba</a></p>
    </div>
    <div class="col col2">
        <div class="social">
            <a href="https://www.facebook.com/giannis.ts10/" target="_blank" class="link"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/tsioba_/" target="_blank" class="link"><i class="fab fa-instagram"></i></a>
        </div>
        <p style="color: #818181; font-size: smaller">2024 © All Rights Reserved</p>
    </div>
</footer>